#!/usr/bin/env bash

# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

alias ll="ls -la"
alias cdtmp="cd $(mktemp -d)"
alias cdtemp="cd $(mktemp -d)"

alias finder="open ."

alias {{ .github.user }}="cd ~/github.com/{{ .github.user }}"
alias tm="cd ~/github.com/taskmedia"

alias mb="cd ~/git.daimler.com"
alias sre="cd ~/git.daimler.com/sre"
alias sree="cd ~/git.daimler.com/sre-enable"

# applications
{{- if lookPath "docker" }}
alias d=docker
{{- end }}
{{- if lookPath "docker-compose" }}
alias dc=docker-compose
{{- end }}
alias h="helm"
alias k="kubectl"
alias kgd="kubectl get deployment"
alias kgp="kubectl get pod"
alias kgs="kubectl get service"
alias kctx="kubectx"
alias kns="kubens"
{{- if lookPath "podman" }}
alias p="podman"
{{- end }}

# git
alias g="git"
alias ga="git add"
alias gc="git commit"
alias gcmsg="git commit -m"
alias gcundo="git reset --soft HEAD~1" # Undoing latest commit
alias gco="git checkout"
alias gcob="git checkout -b"
alias gcp='git cherry-pick'
alias gd="git diff"
alias gdc="git diff --cached"
alias gds="git diff --staged"
alias gl="git log --all --decorate --oneline --graph"
alias gpull="git pull"
alias gpush="git push"
alias gpushf="git push --force"
alias gr="git remote"
alias gra="git remote add"
alias grb="git rebase"
alias grbi="git rebase -i"
alias grbm="git rebase $(git_main_branch)"
alias grbom="git rebase origin/$(git_main_branch)"
alias gts="git tag -s"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '
