#!/usr/bin/env bash

# use podman instead of docker
export DOCKER_HOST='unix:///Users/{{ .chezmoi.username }}/.local/share/containers/podman/machine/podman-machine-default/podman.sock'

# Make vim the default editor.
export EDITOR='vim';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

# locale
export LANG="en-US.UTF-8";
export LANGUAGE=en_US;

# helm diff
# allow unknown flags e.g. --create-namespace to simplify usage of helm diff
# see: https://github.com/databus23/helm-diff/issues/298#issuecomment-1008224945
export HELM_DIFF_IGNORE_UNKNOWN_FLAGS=true

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";

# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# nvm
export NVM_DIR="$HOME/.nvm"
# This loads nvm
[ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \. "/opt/homebrew/opt/nvm/nvm.sh"
# This loads nvm bash_completion
[ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm"

# GitHub cli
export GH_HOST={{ .github.host }}
