#!/usr/bin/env bash

# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

alias ll="ls -la"
alias cdtmp="cd $(mktemp -d)"
alias cdtemp="cd $(mktemp -d)"

alias finder="open ."

alias {{ .github.user }}="cd ~/github.com/{{ .github.user }}"
alias tm="cd ~/github.com/taskmedia"

alias mb="cd ~/git.daimler.com"
alias sre="cd ~/git.daimler.com/sre"
alias sree="cd ~/git.daimler.com/sre-enable"

# applications
{{- if lookPath "docker" }}
alias d=docker
{{- end }}
{{- if lookPath "docker-compose" }}
alias dc=docker-compose
{{- end }}

alias g="git"
alias ga="git add"
alias gc="git commit"
alias gd="git diff"
alias gdc="git diff --cached"
alias gl="git log --all --decorate --oneline --graph"

alias h="helm"
alias k="kubectl"
alias kgd="kubectl get deployment"
alias kgp="kubectl get pod"
alias kgs="kubectl get service"
alias kctx="kubectx"
alias kns="kubens"
{{- if lookPath "podman" }}
alias p="podman"
{{- end }}

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '
