[commit]
        gpgsign = true

[core]
        autocrlf = false
        eol = lf
        excludesFile = ~/.gitignore

[gpg]
        program = /opt/homebrew/bin/gpg

[init]
        defaultBranch = main

[user]
        name = {{ .name }}
        email = {{ .email }}
        signingKey = {{ onepasswordRead "op://Personal/gpg/signingkey" }}
