#!/bin/bash

{{- if eq .chezmoi.os "darwin" }}

# configure gpg agent for yubikey


if ! launchctl list | grep -q gnupg.gpg-agent; then
	echo "gnupg agents are not yet loaded"
	launchctl load $HOME/Library/LaunchAgents/gnupg.gpg-agent.plist
	launchctl load $HOME/Library/LaunchAgents/gnupg.gpg-agent-symlink.plist
fi
{{- end }}
