#!/bin/bash

brew_install() {
  if brew list $1 &>/dev/null; then
    echo "${1} is already installed"
  else
    brew install $1 && echo "$1 is installed"
  fi
}

brew_install_cask() {
  if brew list $1 &>/dev/null; then
    echo "${1} is already installed"
  else
    brew install --cask $1 && echo "$1 is installed"
  fi
}

{{- if eq .chezmoi.os "darwin" }}
# macOS-specific code

# zsh
brew_install starship # shell prompt
brew tap homebrew/cask-fonts # fonts for terminal
brew_install_cask font-Hack-nerd-font # fonts for terminal

# yubikey
brew_install gnupg # gpg
brew_install gpg2 #gpg
brew_install yubikey-personalization # yubikey manager
brew_install hopenpgp-tools # gpg
brew_install ykman # yubikey manager
brew_install pinentry-mac # gpg client
brew_install wget # http client cli
brew_install_cask gpg-suite-no-mail # gpg

# programming
brew_install gh # GitHub cli
brew_install git # version control
brew_install git-lfs # version control large file storage
brew_install go # golang
brew_install nvm # node package manager
brew_install_cask postman # API tool
# brew_install openjdk # java
brew_install_cask visual-studio-code
# brew_install yarn # javascript package manager

# OS tools
brew_install alt-tab # window manager
brew_install_cask maccy # clipboard manager
brew_install_cask rectangle # window manager
brew_install watch # periodically run program

# kubernetes
# brew_install argocd # deployment cli tool
# brew_install argoproj/tap/kubectl-argo-rollouts
# brew_install docker # container engine
brew_install helm # kubernetes package manager
brew_install k9s # kubernetes cli manager
brew_install kubernetes-cli # kubernetes cli
brew_install kubectx # kubernetes context and namespace tool
# brew_install kubeseal # k8s sealed-secrets cli
brew_install brew minikube # kubernetes locally
brew_install podman # container engine

# others
brew_install_cask 1password-cli # password manager cli
# brew_install ansible # config automation
brew_install_cask firefox # browser
brew_install_cask google-chrome # browser
brew_install_cask keepassxc # password manager
brew_install_cask mattermost # chat client
# brew_install_cask microsoft-remote-desktop # remote desktop for windows
brew_install_cask notion # note tool
brew_install plantuml # diagram draw tool
brew_install tree # directory listing
brew_install vault # password manager cli
brew_install yq # yaml processer
brew_install_cask whatsapp # chat client

# Remove outdated versions
brew cleanup

{{- end }}
