{
  "auths": {
    "endpoint": {
      "auth": "{{- printf "%s:%s" (onepasswordRead "op://Personal/Docker/username" | trim) (onepasswordRead "op://Personal/Docker/password" | trim) | b64enc -}}"
    }
  }
}
